// Write a login page in html and css
<html>
<head>
    <title> Admin Login Page </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/auth/admin-login" method="post" >
        <label> Admin's Email </label>
        <input name="email" type="text" placeholder="Enter email">
        <label> Password </label>
        <input name="password" type="password" placeholder="Enter Password">
        <input type="submit" value="Login">
    </form>  
</body>
</html>