<%- include('../partials/top.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title> Home Page </title>
    
</html>
<body>
  <%- include('../partials/nav.ejs', {name: email, isAdmin: true}) %>
  <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg col-md">
          <div class="card">
            <div class="card-header bg-success text-white">
              Create Review
            </div>
            <div class="card-body">
              <form action="/admin/create-audit" method="post" >
                  <div class="row mb-3">
                    <div class="col">
                      <label for="auditName" class="form-label">Review Name</label>
                      <input name="audit_name" type="text" class="form-control" id="auditName" required>
                    </div>
                    <div class="col">
                      <label for="auditStartDate" class="form-label">Review Start Date</label>
                      <input  name="audit_start_date" type="date" class="form-control" id="auditStartDate" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="auditDescription" class="form-label">Review Description</label>
                    <textarea name="audit_description" class="form-control" id="auditDescription" rows="1" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-lg col-md">
            <div class="card">
              <div class="card-header bg-primary text-white">
                All Reviews
              </div>
              <div class="card-body">
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
        
                    <tbody id="auditList">
                
                    </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="/js/admin-home.js"></script>
</body>
