<%- include('../partials/top.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs', {name: userDn, isAdmin: false}) %>
    <header id="audit" data-audit-id="<%= audit_id %>">
        <h1>User Access Review - Review <%= audit_id %></h1>
    </header>
    <div id="alertPlaceholder"></div>
    <main>
        <div class="sidebar">
            <div class="card">
                <div class="card-header">
                    Direct Reports
                </div>
                <div class="card-body">
                    <ul id="userList">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div id="userDetails">
                <div class="card">
                    <div class="card-header">
                        User Details
                    </div>
                    <div class="card-body">
                        <div id="userInfo">
                            
                        </div>
                    </div>
                </div>
                </br>
                <div>
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            Permissions
                        </div>
                        <div class="card-body">
                            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Approve</th>
                                        <th>Reject</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="permissionsList">
                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <button id="submitButton">Save Changes</button>
            </div>
        </div>
        <div class="sidebar-right">
            <div class="card">
                <div class="card-header">
                    Permission Details
                </div>
                <div class="card-body">
                    <div id="permissionInfo">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>