// Write a login page in html and css
<html>
<head>
    <title> Login Page </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/auth/employee-login" method="post" >
        <label> User's dn </label>
        <input name="userDn" type="text" placeholder="Enter User's dn">
        <label> Password </label>
        <input name="password" type="password" placeholder="Enter Password">
        <input type="submit" value="Login">
    </form>  
</body>
</html>