<%- include('../partials/top.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>User Access Review</title>
</head>
<body>

<%- include('../partials/nav.ejs') %>

<div id="alertPlaceholder">
  <% if(typeof(errors) !="undefined") { %>
    <% for (let error of errors) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error.message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
  <% } %>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Manager Login
        </div>
        <div class="card-body">
          <form action="/auth/employee-login" method="post">
            <div class="mb-3">
              <label for="userDn" class="form-label">User's DN</label>
              <input name="userDn" type="text" class="form-control" id="userDn" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input name="password" type="password" class="form-control" id="userpassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header bg-success text-white">
            Admin Login
          </div>
          <div class="card-body">
            <form action="/auth/admin-login" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Admin's email</label>
                <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
              </div>
              <div class="mb-3">
                <label for="adminpassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="adminpassword" required>
              </div>
              <button type="submit" class="btn btn-success">Login</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>

</body>
</html>