/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

.sidebar-right {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    margin-left: 20px;
}

.content {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
}

h2 {
    margin-top: 0;
}

#userList {
    list-style-type: none;
    padding: 0;
}

#userList li {
    cursor: pointer;
    padding: 10px;
}

#userList li.active {
    background-color: #ccc;
}
#userList li {
    cursor: pointer;
    padding: 5px 0;
}

#userList li:hover {
        background-color: #ddd;
}

#basicInfo {
    margin-bottom: 20px;
}

#submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

/* Responsive design */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .sidebar-right {
        margin-left: 0;
        margin-top: 20px;
    }
}